@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  background-color: #FAF9F8;
  color: #222222;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

svg {
  /* width: 100%; */
  height: 100%;
}

* {
  box-sizing: border-box;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #222222;
}

input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}