@import './colors.scss';

.store {
    width: 100%;
    background-color: $background;

    .wrapper {
        width: 1200px;
        margin: 0 auto;

        @media screen and (max-width: 1200px) {
            width: 100%;
            
        }

        .product-box {
            width: 300px;
            height: 300px;
        }
    }
}